## UE4 AutoCreated #######################
DerivedDataCache
Intermediate
Saved
Script
Binaries
Build
WindowsNoEditor

## UE4 PurchasedAssets ####################
Content/Collections
Content/Developers
Content/Party_Pack_SFX
Content/SignalFlaresFX
Content/Sport_Soccer
Content/Stylized_Fantasy_Series
Content/Asian_Village
Content/Cute_Little_Animals
Content/CuteMusicPack
Content/Fantastic_Village_Pack
Content/FestivalFX
Content/FireworksWithSounds
Content/FunObstacleCourse
Content/FunObstacleCourseExp
Content/GameShowAssetPack
Content/HandPaintedEnvironment
Content/Kobo_Nature
Content/AdvancedVillagePack
